@import  'bootstrap/scss/bootstrap.scss';


.main{

    text-align : center;
    padding : 10px;

    h2{
        color: #2c346a;
    }

    .disabled{
        opacity : 0.3;
        pointer-events: none;
    }

    .price{
        color: #565088;
        margin : 20px 0;
    }
}